/*GENERAL FORMAT*/
html{
    font-family: 'Montserrat', sans-serif; 
    text-rendering: optimizeLegibility;
    font-size: 15px;
}

.foot{
    font-family: 'Montserrat', sans-serif; 
    text-rendering: optimizeLegibility;
    font-size: 15px;
}

.diffFont{
    font-family: 'Gruppo', cursive;
    text-rendering: optimizeLegibility;
}

body{
    overflow-x:hidden;
}

h1{
    margin: 0;
    font-size: 300;  
}


h5{
    text-rendering: geometricPrecision;
    text-transform: uppercase;
}

.divider{
   margin: 10px;
}

section {
    margin: 0 1rem 3rem;
}

.offset:before{
    height: 4rem;
    margin-top: -4rem;
    content: "";
    display: block;
}

/*NAV BAR START*/
.logo{
    width: auto;
    float: left;
    
}

.navbar-brand{
    text-align: right;
/*    padding-bottom: 0px; */

}

.navbar{
       width: 100%;
/*  float: right;*/
    padding: .1rem 1rem;
    text-transform: uppercase;
    font-size: .95rem;
    font-weight: 700;
    letter-spacing: .1rem;
    transition: background-color .5s ease 0s;
    background-color: white;
    
}

.navbar li{
    text-decoration-line: none;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding-right: 2rem;
    text-emphasis-color: black;
    color: black;
    
}

.nav li a:link,
.nav li a:visited{
/*
    border-bottom: 2px solid transparent;
    border-bottom-color: dimgrey;
    transition: border-bottom 0.2s ease .8s;*/
    text-decoration: none;
    text-decoration-line: none;
    
}

.actioncall{
    margin-left: 0%;
}

/*NAV BAR END*/

li{
   list-style: none;
}

.imageGrid{
    display: flex;
  flex-wrap: wrap;
    /*  padding: 0 4px;*/
}

.column {
  flex: 50%;
  max-width: 50%;
    height: auto;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
    height: auto;
}

@media (max-width: 500px) {
    .imageGrid{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .column{
        flex: 1;
        max-width: 100%;
        height: auto;
        
    }
    
    .column img{
        
        height: auto;
    }
}

/*OVERLAY*/

.overlayCon {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FF7170;
}

.overlayCon:hover .overlay {
  opacity: .9;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
    text-transform: uppercase;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*
.video{
    background-image: url(img/space.mov);
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    text-transform: uppercase;
    padding-top: 80px;
}
*/

.centered{
    width: 70%;
    margin-left: 15%;
}



 a:hover{
    color: #FF7170;
     text-decoration-line: none;
}

a{
    color: #5D4862;
}



body{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.introTing{
    display: flex;
}

.one{
    flex: 1;
}

.two{
    flex: 2;
}

.row{
    padding-bottom: 20px;
    padding-top: 500px;
/*    background-color: lightslategrey;*/
    padding: 0rem 2rem 3rem;
}


.col-lg-4{
    margin-left: 2%;
    margin-right: 2%;
    display: block;
}

.col-lg-3{
    display: block;
    margin-left: 2%;
    margin-right: 2%;
    align-items: center;
}

.col-lg-4 .btn{
    align-items: center;
    
}



.lefty{
    align-items: flex-start; 
 
}


.btn{
    color: white;
    background-color: #5D4862;
    display: inline-block; 
    font-weight: 200%;
/*    border-color: black;*/
    
}

.btn:hover{
    background-color: #FF7170;
    color: white;
}

.form-control{
    background: white;
    border-bottom: 1px solid black;
    border: none;
    color: white;
}

.offerings img{
    height: 300px;
    width: auto;
}

/*COLORS*/
.black{
    background-color: black;
    color: white;
}

.gold{
    background-color: #FAC97A;
    color: white; 
}

.yellow{
    background-color: #FDE3B6;
    color: white; 
}

.blue{
    background-color: #BCD19A;
    color: white; 
}


.pink{
    background-color: #FF7170;
    color: white;  
}


.purple{
    background-color: #5D4862;
    color: white;
}

.purplight{
    background-color: #E6C9DA;
    color: white;
}
/*COLORS*/


.card {
    border: none;
}

.article-img img{
    height: 300px;
    width: 300px;
}

.article-img .col-lg-3 {
    padding: 10px;
}

.path_number{
    font-size: 60px;
    font-weight: 400;
}
. insta{
    width: 1rem;
    height: 1rem;
}

.slideUp{
    animation: ease slide-top 0.7s both;
}


.slide-top {
	-webkit-animation: slide-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: slide-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}


@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
