/*GENERAL FORMAT*/
html{
    font-family: 'Montserrat', sans-serif; 
    text-rendering: optimizeLegibility;
    font-size: 15px;
}

.foot{
    font-family: 'Gruppo', cursive;
    text-rendering: optimizeLegibility;
    font-size: 20px;
}

.diffFont{
    font-family: 'Gruppo', cursive;
    text-rendering: optimizeLegibility;
}

body{
    overflow-x:hidden;
}

h1{
    margin: 0;
    font-size: 400;  
}


h5{
    text-rendering: geometricPrecision;
    text-transform: uppercase;
    font-size: 24px;
}

h3{
    font-size: 32px;
}

p{
    font-size: 20px;
}

.sectionTitle{
    padding: 1rem;
}

.divider{
   margin: 10px;
}

section {
    margin: 0 1rem 3rem;
}

.offset:before{
    height: 4rem;
/*    margin-top: -4rem;*/
    content: "";
    display: block;
}

/*NAV BAR START*/
.logo{
    width: auto;
    float: left;
    
}

.navbar-brand{
    text-align: right;
/*    padding-bottom: 0px; */

}

.navbar{
       width: 100%;
/*  float: right;*/
    padding: .1rem 1rem;
    text-transform: uppercase;
    font-size: .95rem;
    font-weight: 700;
    letter-spacing: .1rem;
    transition: background-color .5s ease 0s;
    background-color: transparent;
    
}

.navbar li{
    text-decoration-line: none;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding-right: 2rem;
    text-emphasis-color: black;
    
    
}

.nav-link{
    color: #fff;
}

.nav li a:link,
.nav li a:visited{
/*
    border-bottom: 2px solid transparent;
    border-bottom-color: dimgrey;
    transition: border-bottom 0.2s ease .8s;*/
    text-decoration: none;
    text-decoration-line: none;
    
}

 .navbar.transparent.navbar-inverse .navbar-inner {
   background: rgba(0,0,0,0.0.4);
}

.actioncall{
    margin-left: 0%;
}

/*NAV BAR END*/

li{
   list-style: none;
}

.imageGrid{
    display: flex;
  flex-wrap: wrap;
    /*  padding: 0 4px;*/
}

.column {
  flex: 50%;
  max-width: 50%;
    height: auto;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
    height: auto;
}

@media (max-width: 500px) {
    .imageGrid{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .column{
        flex: 1;
        max-width: 100%;
        height: auto;
        
    }
    
    .column img{
        
        height: auto;
    }
}

/*OVERLAY*/

.overlayCon {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FF7170;
}

.overlayCon:hover .overlay {
  opacity: .9;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
    text-transform: uppercase;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.smaller{
    height: 30vh;
    width: auto;
}

/*
.video{
    background-image: url(img/space.mov);
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    text-transform: uppercase;
    padding-top: 80px;
}
*/



 a:hover{
    color: #FF7170;
     text-decoration-line: none;
}

a{
    color: #5D4862;
}



body{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.introTing{
    display: flex;
    text-align: center; 
    justify-content: center;"
}

.one{
    flex: 1;
}

.two{
    flex: 2;
/*    text-shadow: 3px 3px;*/
    
}

.row{
    padding-bottom: 20px;
    padding-top: 500px;
    padding: 0rem 2rem 3rem;
}


.col-lg-4{
    margin-left: 2%;
    margin-right: 2%;
    display: block;
}

.col-lg-3{
    display: block;
    margin-left: 2%;
    margin-right: 2%;
    align-items: center;
}

.col-lg-4 .btn{
    align-items: center;
    
}



.btn{
    color: white;
    background-color: #5D4862;
    display: inline-block; 
    font-weight: 200%;
/*    border-color: black;*/
    
}

.btn:hover{
    background-color: #FF7170;
    color: white;
}

/*
.form-control{
    background: white;
    border-bottom: 1px solid black;
    border: none;
    color: white;
}
*/

.offerings img{
    height: 300px;
    width: auto;
}


/*COLORS*/
.black{
    background-color: black;
    color: white;
}

.gold{
    background-color: #FAC97A;
    color: white; 
}

.yellow{
    background-color: #FDE3B6;
    color: white; 
}

.blue{
    background-color: #BCD19A;
    background: radial-gradient(#e66465, #9198e5);
    color: white; 
    align-content: center;
}


.pink{
    background-color: #FF7170;
    color: white;  
}


.purple{
    background-color: #5D4862;
    color: white;
}

.purplight{
    background-color: #E6C9DA;
    color: white;
}
/*COLORS*/


ul.menu {
    position: absolute;   
    text-align: left;  
    width: 100%;
/*    transform: translateY(-50%);*/
    background-color: transparent;
    z-index: 1;
}
ul.menu li{
   list-style: none;
   display: inline-block; 
   margin: 0 15px;
}
ul.menu li a{
    position: relative;
    display: inline-block;
    text-decoration: none;  
    text-transform: uppercase;  
    color: #fff;
    font-size: 30px;
    transition: .5s;
}
ul.menu:hover li a{
    font-weight: bold;
    filter: blur(2px);
    color: #bbbbbb;
}
ul.menu li:hover a{
    font-weight: normal;
    filter: blur(0px);
    color: #262626;
}


.card {
    border: none;
}

.article-img img{
    height: 300px;
    width: 300px;
}

.article-img .col-lg-3 {
    padding: 10px;
}

. insta{
    width: 1rem;
    height: 1rem;
}

.slideUp{
    animation: slide-top 4.7s infinite;
}


.slide-top {
	-webkit-animation: slide-top 4.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: slide-top 4.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}


@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
    100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
    100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 48px;
  border: none;
  outline: none;    
background: radial-gradient(#9198e5, #7ACCCC);
  color: white;
  cursor: pointer;
  padding: 0;
  border-radius: 3rem;
    height: 5rem;
    width: 5rem;
}

#myBtn:hover {
  background:  radial-gradient(#e66465, #7ACCCC);
}